.button {
  background-color: #367dc3;
  margin: 10px;
  min-width: 100px;
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 6px 18px rgba(30, 144, 255, 0.3);
  position: relative;
  overflow: hidden;
  display: inline-block;
}



.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.5s ease;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.button:hover {
  background-color: #007acc;
  box-shadow: 0 8px 22px rgba(30, 144, 255, 0.5);
  transform: scale(1.05);
}

button:active {
  transform: scale(0.98);
  background-color: #005f99;
}

button:disabled {
  background: #5884be;
  color: #dcdcdc;
  cursor: not-allowed;
}

button:disabled:hover {
  background: #5e94da;
}

.toggle-password {
  position: absolute;
  background: none;
  color: rgb(233, 233, 233);
  font-size: small;
  border: none;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  left: 90%;
  top: 0%;
  padding: 0.5%;
}
.toggle-password:hover
{
  background: none;
  position: absolute;
}


@media (max-width: 768px) {
  button {
    font-size: 0.85rem;
    padding: 10px 20px;
  }
  .toggle-password {
    left: 65%;
    top: 0%;
    padding: 0.5%;
  }
}
