/* Container for the form */
.hel-health-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(25, 69, 110, 0.451);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enables scrolling if content overflows */
  height: 80vh;
  width: 80vw;   /* Sets a height limit for the form */
}

@media (max-width: 768px) {
  .hel-health-form {
    padding: 15px;
    max-width: 350px;
  }

  .hel-health-form h2 {
    font-size: 1.4rem;
  }

  .hel-section h3 {
    font-size: 1.1rem;
  }
}

.hel-title {
  text-align: center;
  margin-bottom: 20px;
}

.hel-section {
  margin-bottom: 30px;
  
}

.hel-section-title {
  margin-bottom: 15px;
  font-size: 1.2em;
}

.hel-form-group {
  margin-bottom: 15px;
}

.hel-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.hel-form-group input,
.hel-form-group select,
.hel-form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.hel-add-entry,
.hel-remove-entry,
.hel-submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.hel-add-entry:hover,
.hel-remove-entry:hover {
  background-color: #0056b3;
}

.hel-error {
  border-color: red;
}

.hel-error-message {
  color: red;
  font-size: 0.9em;
}

.hel-success-message {
  color: green;
}
