
.landing-page {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/landing8.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .landing-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    background-position: inherit;
    filter: blur(10px); /* Apply blur effect */
    z-index: -1;
  }
  
  .overlay {
    position: relative;
    background-color: rgba(4, 20, 35, 0.309);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    z-index: 1;
  }
  
  .logo {
    width: 150px; /* Adjust logo size */
    margin-bottom: 20px;
  }
  
  .button-container {
    margin-top: 20px;
  }
