/* Container for the form */
@media (max-width: 768px) {
  .legal-info-form {
    padding: 15px;
    max-width: 350px;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.1rem;
  }
}
.legal-info-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgba(25, 69, 110, 0.451);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enables scrolling if content overflows */
  height: 80vh;
  width: 80vw;  /* Sets a height limit for the form */
  }
  
  /* Form heading */
  .legal-info-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  /* Styling for form groups */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Styling for labels */
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
  }
  
  /* Styling for text areas */
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: white;
  }
  
  /* Styling for file inputs */
  .form-group input[type="file"] {
    display: block;
    margin-top: 10px;
  }
  

  