.About{
    margin: 100px auto;
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
    
}
.about-left{
    flex-basis: 40%;
}
.about-right{
    display: flex;
    flex-direction: column;
    flex-basis: 56%;
    align-items: center;
}
.about-img{
    width: 100%;
    border-radius: 10px;
}
.about h3{
    font-weight: 600;
    font-weight: 16px;
    color: #38454f;
}
.about h{
   font-size: 35px;
    color: #010d20;
    margin: 10px 0;
    max-width: 400px;
}
.about p{
    color: #676767;
    margin-bottom: 15px;
}
